<div>

</div>

<div class="container">
  <form action="/ifsc" method="POST">

    <div class="form-group">
      <label for="exampleInputPassword1">Enter IFSC CODE</label>
      <input type="text" class="form-control" name="password" placeholder="IFSC code">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>