<div class="jumbotron text-right" style="background-image:url(./img/forbank.jpg);background-size:cover;height:500px">
  <h1 class="display-4">Find your Bank</h1>
  <p class="lead">This is a Online web app for finding your bank for free</p>
  <hr class="my-4">

  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/ifsc" role="button">Find it by IFSC CODE</a>
    <a class="btn btn-primary btn-lg" href="/namecity" role="button">Search branch by name and city</a>
  </p>

  <p class="lead">
</div>

<div class="container bg-light">
  <div class="row">
    <div class="col text-center mb-2">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">By IFSC code</h5>
          <p class="card-text">An easy way to find out your Bank by just entering your IFSC code</p>
          <a href="/ifsc" class="btn btn-primary">Find Bank</a>
        </div>
      </div>
    </div>
    <div class="col text-center mb-2 bg-light">
      <div>
        <div class="card-body">

        </div>
      </div>
    </div>


    <div class="col text-center mb-2 ">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Branch by name and city</h5>
          <p class="card-text">Find all the branches by just bank name and city</p>
          <a href="/namecity" class="btn btn-primary">Find branches</a>
        </div>
      </div>
    </div>
  </div>

</div>

</div>